@using Microsoft.AspNet.Facebook
@{
    ViewBag.Title = "A to Z Apps";
}
<style>
    .hover_data span a
    {
        margin-top:20%!important;
    }
</style>
<div class="container ">
    <div class="page-header">
        <h3 style="text-align:center!important;">&nbsp;</h3>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="blog_data">
                <div class="img_data">
                    <img src="~/Images/AppImages/WishNavratri.gif" style="height:190px;" class="img-thumbnail img-responsive" />
                    <div class="hover_data">
                        <span>
                            <a href="@Url.Action("NavratriSpecial", "Home")">Play</a>
                        </span>
                    </div>
                </div>
                <div class="blog_contant text-center">
                    <a  href="@Url.Action("NavratriSpecial", "Home")"><h5>ન​વરાત્રી! એ હાલો હાલો! ગરબે રમવા</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="blog_data">
                <div class="img_data">
                    <img src="~/Images/AppImages/WishingNavratri.jpg" style="height:190px;" class="img-thumbnail img-responsive" />
                    <div class="hover_data">
                        <span>
                            <a href="@Url.Action("WishNavratri","Home")">Play</a>
                        </span>
                    </div>
                </div>
                <div class="blog_contant text-center">
                    <a href="@Url.Action("WishNavratri","Home")"><h5>WISH HAPPY NAVRATRI TO YOUR FRIENDS !</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="blog_data">
                <div class="img_data">
                    <img src="~/Images/AppImages/Mahatma-Gandhi-Wallpaper.jpg" style="height:190px;" class="img-thumbnail img-responsive" />
                    <div class="hover_data">
                        <span>
                            <a href="@Url.Action("HappyGandhiJayanti","Home")">Play</a>
                        </span>
                    </div>
                </div>
                <div class="blog_contant text-center">
                    <a href="@Url.Action("HappyGandhiJayanti","Home")"><h5>'My life is my message.' - Happy Gandhi Jayanti!</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="blog_data">
                <div class="img_data">
                    <img src="~/Images/AppImages/Dussehra.jpg" style="height:190px;" class="img-thumbnail img-responsive" />
                    <div class="hover_data">
                        <span>
                            <a href="@Url.Action("HappyDasara","Home")">Play</a>
                        </span>
                    </div>
                </div>
                <div class="blog_contant text-center">
                    <a href="@Url.Action("HappyDasara","Home")"><h5>This special occassion may fulfill all Ur dreams came true.Happy Dasara</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="blog_data">
                <div class="img_data">
                    <img src="~/Images/AppImages/HappyDiwali2016.jpg" style="height:190px;" class="img-thumbnail img-responsive" />
                    <div class="hover_data">
                        <span>
                            <a href="@Url.Action("HappyDiwali2016","Home")">Play</a>
                        </span>
                    </div>
                </div>
                <div class="blog_contant text-center">
                    <a href="@Url.Action("HappyDiwali2016","Home")"><h5>May thousands of lamps beam up your life. Happy Diwali!</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="blog_data">
                <div class="img_data">
                    <img src="~/Images/AppImages/Bhai-Dooj-info.jpg" style="height:190px;" class="img-thumbnail img-responsive" />
                    <div class="hover_data">
                        <span>
                            <a href="@Url.Action("BhaiDoojWish2016","Home")">Play</a>
                        </span>
                    </div>
                </div>
                <div class="blog_contant text-center">
                    <a href="@Url.Action("BhaiDoojWish2016","Home")"><h5>May this auspicious occasion bring you all the prosperity and good luck in your way of life. Happy Bhai Beej. </h5></a>
                </div>
            </div>
        </div>
    </div>
</div>
