@using Microsoft.AspNet.Facebook
@{
    ViewBag.Title = @ViewBag.AppTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var appDescription = "Make your navarati profile !";
}

<meta property="og:url" content="@Request.Url.ToString()" />
<meta property="og:type" content="website" />
<meta property="og:title" content="@ViewBag.AppTitle" />
<meta property="og:description" content="@ViewBag.AppTitle" />
<meta property="og:image" content="~/Images/background.png" />


<div class="page-header">
    <h3 style="font-weight:600;">@ViewBag.AppTitle</h3>
</div>
<div class="row">
    <div class="col-md-9 col-sm-12 col-xm-12">
        <div class="app_data">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <img src="~/Images/background.png" class="img-thumbnail img-responsive center-block" />
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p>@appDescription</p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="text-center">
                    <a id="btnGotoMyApp" href="javascript:" class="btn  btn-social1 btn-facebook1">
                        <span class="glyphicon glyphicon-thumbs-up  "></span> Check Your Result
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <ul class="social-network social-circle text-center">
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/home?status=@Request.Url" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/share?url=@Request.Url" target="_blank" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=@Request.Url&title=@ViewBag.AppTitle&summary=&source=" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://pinterest.com/pin/create/button/?url=@Request.Url&media=@ViewBag.AppTitle&description=@ViewBag.AppTitle" target="_blank" class="icoPinterest" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
       
    </div>
    <div class="col-md-3 col-sm-12 col-xm-12">
        @Html.Partial("_LatestApps")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnGotoMyApp").click(function () {
            //var redirect_url = "https://localhost:44306/Home/FacebookAuth";
            var redirect_url = "@Request.Url.Scheme://@Request.Url.Authority/Home/FacebookAuth?AppName=@ViewBag.AppName";
            var appID = @GlobalFacebookConfiguration.Configuration.AppId;
            var scope = "public_profile%2Cuser_friends%2Cpublish_actions%2Cemail%2Cuser_education_history%2Cuser_location%2Cuser_hometown%2Cuser_work_history%2Cuser_about_me%2Cuser_actions.books%2Cuser_photos%2Cuser_birthday";
            window.location = "https://www.facebook.com/v2.5/dialog/oauth?client_id=" +appID +"&redirect_uri=" + redirect_url + "&scope="+scope;
        });
    });
</script>