@using Microsoft.AspNet.Facebook
@{
    ViewBag.Title = "A to Z Apps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta property="og:url" content="@Request.Url.ToString()" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Your Website Title" />
<meta property="og:description" content="Your description" />
<meta property="og:image" content="@ViewBag.resulturl" />


<div class="page-header ">
    <h3 style="font-weight:600;">@ViewBag.AppTitle</h3>
</div>
<div class="row ">
    <div class="col-md-12 col-sm-12 col-xs-12 " style="padding-bottom:25px;">
        <img src="@ViewBag.resulturl" class="img-thumbnail img-responsive center-block" style="width:773px;height:430px;" />
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <div id="shareBtn" class="btn btn-success clearfix">Share</div>
    </div>
</div>


<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=1050136161774438";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<script>
    document.getElementById('shareBtn').onclick = function () {
        FB.ui({
            method: 'share',
            display: 'popup',
            href: '@Request.Url.ToString()',
        }, function (response) { });
    }
</script> 