@using Microsoft.AspNet.Facebook
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@


    <script src="~/Scripts/jquery-1.9.1.js"></script>

    <script src="~/Scripts/bootstrap.min.js?ver=1"></script>
    <link href="~/Content/bootstrap.css?ver=1" rel="stylesheet" />

    <link href="~/Content/stylesheet.css?ver=1" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css?ver=1" rel="stylesheet" />

    <link href="~/Content/animations.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/css3-animate-it.js"></script>
</head>
<body>
    @Html.Partial("_HeaderPortion")
    <div  class="maincontainer">
        @RenderBody()
    </div>
    @Html.Partial("_FooterPortion")

</body>
</html>